<!DOCTYPE html>
<html lang="en">

<head>
  <title>Projekt Adrian</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Adrian">

<style>
body {
  width: 800px;
  margin: auto;
}
.header {
	background-color: #DDDDDD;
	padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

</style>
</head>

<body>
<div class="header">
Projekt Adrian Gawinek, Daniel Grad
</div>
<div class="menu">
  <ul>
    <li><a href="/">Gallery</a></li>
    <li><a href="/add_file">Add File</a></li>
  </ul>
</div>
<div class="content">


  <p><%= file.replace(prefix+"/","") %></p>


<% if ( ! status ) { %>
<p>Plik jeszcze nie gotowy.</p>
<% } else { %>
<p>Gotowe!</p>
<% } %>

  <form action="/check" method="GET"> 
    <input type="hidden" value="<%= file%>" name="file"/>
    <input type="submit" name="Status" value="Sprawdź status">
  </form>




</div>
  

</body>

</html>